div
{
	background-color: pink;
	width: 697px;
}
#style
{
	border:solid;
	border-radius: 15px 30px 12px 50px;
	height: 40px;
	width: 200px;
	padding:20px;
	text-align: center;
	margin:45px;
}
#size
{
	margin-left: 371px;
    margin-top:-131px;
	border:solid;
	border-radius: 15px 30px 12px 50px;
	height: 25px;
	width: 200px;
	padding:20px;
	text-align: center;
}
.color
{
	border:solid;
	border-radius: 15px 30px 12px 50px;
	height: 25px;
	width: 200px;
	padding:20px;
	text-align: center;
	margin-left: 44px;
    margin-top: 66px;
	
}
.align
{
	border:solid;
	border-radius: 15px 30px 12px 50px;
	height:40px;
	width: 200px;
	padding:20px;
	text-align: center;
	margin-left: 377px;
    margin-top: -104px;
}