#align
{
	border:solid;
	border-radius: 25px;
  height: 55;
  width: 500;
  padding: 8px;
  font-size: 17;
}
#center
{
	/*margin-left:-5px;*/
	border:solid;
	border-radius: 1px 15px 15px 1px;
  padding: 8px;
  height:50;
  width:60px;
}
